<h1>Create a Survey:</h1>
<h3>Step One:</h3>
<form action="/survey_add" method="post">
  <!-- enter name -->
  <label for="name">Survey Name:</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn btn-info">Submit</button>
</form>
